<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mehspot.tellmeastory</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.30</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleName</key>
	<string>Tell Me a Story</string>
	<key>NSContactsUsageDescription</key>
	<string>Tell Me a Story need an access to your contacts to find your friends</string>
	<key>NSCameraUsageDescription</key>
	<string>Tell Me a Story need an access to your camera to record the stories</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Tell Me a Story need an access to your microphone to record the stories</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>Tell Me a Story need an access to your media library to allow you to choose a userpic</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Tell Me a Story need an access to your photo library to allow you to choose a userpic</string>
</dict>
</plist>
